a/* Float Clearfix */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* --------------General-------------- */

body {
    width: 100%;
    background: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #919191;
    line-height: 1.6;
}

.main-nav {
    background: #ffffff;
    padding-left: 0px;
    text-transform: uppercase;
}


/* ------------------Layout Styles ------------------ */

/* -------------Mobile Navigation styles------------- */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 60px;
    text-align:center;
}

.slide {
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0.1em;
    left: 90%;
    font-size: 45px;
    margin-left: 0px;
    text-decoration: none;
    color: #3A3939;
}

.menu {
    position: fixed;
    font-size: 20px;
    float: left;
    width: 100%;
    top: 0;
    cursor: pointer;
    background-color: #FFF;
}

.menu:focus,
.menu:hover,
.closebtn:focus,
.closebtn:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Test END */

.main-nav li {
    text-align: center;
    display: block;
    padding: 3px;
}

.main-nav a {
    padding: 0px 50px 0px 50px;
    color: #2b2b2b;
    text-decoration: none;
}

#welcome span {
    font-size: 25px;
}

.wrapper {
    width: 90%;
    margin: auto;
}

header {
    text-align: center;
    padding-top: 20px;
}

.sub-header{
    margin-top: -20px;
    font-size: 10px;
}

h1 {
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 42px;
    font-family: 'Voltaire', sans-serif;
    letter-spacing: -1px;
    color: #3A3939;
    font-weight: 100;
}

h2 {

    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
}

h3 {
    color: #FFA07A;
    font-size: 15px;
}

h4 {
    text-transform: uppercase;
    text-align: right;
    margin-bottom: .5em;
}

.main-nav,
h2 {
    color: #2b2b2b;
}

p {
    margin-top: 5px;
}

.sub-header {
    color: #c7c7c7;
    text-transform: uppercase;
    font-size: 9px;
    padding-top: 1px;
}

hr {
    display: block;
    height: 10px;
    width: 225px;
    border: 0px;
    border-top: 1px solid rgb(165, 165, 165);
    margin: 0;
}

.hrLong {
    display: block;
    height: 10px;
    width: 100%;
    border: 0px;
    border-top: 1px solid rgb(56, 56, 56);
    margin: 0;
}

/* --------------Pictures-------------- */
#pic1,
#pic3 {
    max-width: 100%;
}

#photo1 {
    float: right;
}

#photo2 {
    float: left;
    padding-right: 5px;
    margin-top: 3px;
}

#photo3 {
    float: right;
}

figure {
    margin: 0px;
}

figcaption {
    font-size: 10px;
    text-align: right;
}

.fb-logo {
    width: 1.5em;
    float: right;
    display: block;
    margin-bottom: 15px;
    margin-top: -.5em;
    margin-right: 8em;
    padding: 0 2em 0 2em;
}

.thumb,
.modal-content,
.mySlides,
.close {
    /* max-width: 150px;
    max-height: 150px; */
    display: none;
}

.facebook {
    display: inline-block;
}

/* --------------Media Queries-------------- */


@media (min-width: 769px) {

    /* --------------Sticky Nav-------------- */
    .main-nav,
    .wrapper {
        position: relative;
    }    

    .wrapper {
        z-index: 10;
        background: white;
    }

    .main-nav {
        margin-bottom: -112px;
        margin-top: 0px;
        box-shadow: 0px 3px 5px #4d4d4d;
    }

    .non-mobile {
        width: 100%;
        position: relative;
    }

    header,
    .main-nav-scrolled {
        position: fixed;
        top: 0;
        width: 100%;
    }

    body {
        padding-top: 225px;
    }

    .main-nav {
        z-index: 250;
        width: 100%;
    }
    /* --------------End Sticky-------------- */

    .wrapper {
        padding-top: 150px;
        margin: 0 auto;
    }

    footer,
    .wrapper {
        width: 80%;
    }

    header {
        margin-top: 0px;
        padding-top: 0px;
    }

    h1 {
        margin-top: 15px;
        margin-bottom: 6px;
        font-size: 105px;
        font-family: 'Voltaire', sans-serif;
        letter-spacing: -1px;
    }

    h2 {
        margin-top: 5px;
    }

    .sub-header{
        font-size: 14px;
        letter-spacing: 3px;
        margin-top: -30px;
    }

    .main-nav li {
        text-align: center;
        display: inline-block;
        font-size: 14px;
        width: 12%;
        padding: 0px;
        margin: 0px;
    }
    
    .main-nav a {
        padding: 40px 0px;
        display: block;
    }

    .menu,
    .closebtn {
        display: none;
    }

    #photo1 {
        padding-left: 10px;
    }

    #photo2 {
        margin-right: 15px;
    }

    #photo3 {
        padding-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #welcome {
        padding-bottom: 0px;
        margin-top: 25px;
    }

    .thumb,
    .modal-content,
    .mySlides,
    .close {
        /* max-width: 150px;
        max-height: 150px; */
        display: block;
    }


    .thumb {
        max-width: 150px;
        max-height: 150px;
    }

    .lightThumb {
        padding-left: 5em;
    }

    /*-------- Lightbox---------*/
        .row > .column {
            padding: 0 8px;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        /* Create four equal columns that floats next to eachother */
        .row {
            display: flex;
        }

        .column {
            flex: 1;
        }
        /* .column {
            float: left;
            width: 25%;
        } */
        
        /* The Modal (background) */
        .modal {
            display: none;
            position: fixed;
            z-index: 500;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: black;
        }
        
        /* Modal Content */
        .modal-content {
            position: relative;
            /* background-color: #adadad; */
            margin: 0 auto;
            padding: 0;
            width: 100%;
            max-width: 1100px;
        }
        
        /* The Close Button */
        .close {
            color: white;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }
        
        /* Hide the slides by default */
        .mySlides {
            display: none;
        }
        
        /* Lightbox image formats */
        .slideImg{
            /* width: 100%; */
            height: 80vh;
            display: block;
            margin: 0 auto;
            border: 10px solid #adadad;

            }
        
        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }
        
        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
        
        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        
        /* Caption text */
        .caption-container {
            text-align: center;
            background-color: black;
            padding: 2px 16px;
            color: white;
        }
        
        /* .demo {
            display: flex;
        } */

        img.demo {
            opacity: 0.6;
            /* flex: 1; */
        }
        
        .active,
        .demo:hover {
            opacity: 1;
        }
        
        img.hover-shadow {
            transition: 0.3s
        }
        
        .hover-shadow:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
        }
        }
        /* -----------Lightbox End----------- */


@media (min-width: 1025px) {

/* Flexbox Styles */
    #row1,
    #row2, 
    #row3 {
        width: 100%;
        flex-direction: row;
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .music,
    .photography,
    .reviews,
    .experience,
    #photo3,
    .facebook {
        flex: 1;
    }

    .reviews {
        order: 2;
    }

    #photo3 {
        order: 1;
        width: 100%; 
        max-width: 345px;
    }

    .facebook {
        justify-content: space-between;
        max-width: 340px;
        flex: 1;
    }

    iframe[seamless] {
        display: inline;
    }
    
/* Page Styles */
    .wrapper {
        width: 70%;
        margin: 0 auto;
        padding: 180px 180px 30px 180px; /*for sticky nav*/
    }

    ul {
        margin-top: 0;
    }

    #welcome {
        width: 75%;
        margin: 0 auto;
    }
    .main-nav li {
        font-size: 14px;
    }

    h1 {
        font-size: 130px;
    }

    h2 {
        margin-top: 0px;
    }

    .sub-header {
        margin-top: -50px;
        font-size: 16px;
        font-weight: 100;
    }

   .music {
       margin-right: 15px;
   }
   .photography {
       margin-left: 15px;
    }


}